</main>
<footer>
<p>
    Designer et coder avec ♡ par
    <a href="https://armand.pizza" target="_blank">Armand SALLÉ</a> - Illustrations et conseil en contenu réalisés par
    <a href="https://www.instagram.com/luciemlcnt/" target="_blank">Lucie Milcent</a>. 2020
</p>
</footer>
<script src="/_assets/js/jquery.js"></script>
<script src="/_assets/js/slick.min.js"></script>
<script src="/_assets/js/imagesloaded.js"></script>
<script src="/_assets/js/barba.prefetch.js"></script>
<script src="/_assets/js/barba.js"></script>
<script src="/_assets/js/gsap.js"></script>
<script src="/_assets/js/main.js"></script>
</body>
</html>