<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{ title }}</title>
        <meta data-hid="description" name="description" content="{{ description }}">
        <link rel="stylesheet" href="/_assets/css/main.css"/>
    </head>
    <body>
        <header class="header">
            <nav class="nav">
                <div class="logo-section reveal">
                    <a href="/" class="nav_link_logo">
                        <img src="" alt="logo nathalie-m" class="logo mr-medium reveal-2"/>
                        <div class="logo-title reveal-3">
                            <p class="p p-bold p-logo">nathalie-m</p>
                            <p class="p p-light p-logo-sub">nathalie milcent</p>
                        </div>
                    </a>
                </div>
                <div class="link-section reveal">
                    <a href="#" class="a link-section__a reveal-2" target="_blank">Linkedin.</a>
                    <a href="#" class="a link-section__a reveal-3" target="_blank">Téléphone</a>
                    <a href="#" class="a link-section__a reveal-4">Mail</a>
                </div>
            </nav>

            <section class="hero reveal">
                <div class="hero__content reveal-1">
                    <h1 class="h1 mb-big reveal-2">Ingénieur en mentorat et spécialiste de l’engagement des salariés.</h1>
                    <div class="p p-hero mb-big reveal-3">
                        <p>
                            <b>Si vous vous posez une ou plusieurs de ces questions, alors vous êtes au bon endroit ! </b>
                        </p>
                        <p>- Comment favoriser le transfert de connaissance et le partage d’expérience (ex. enjeu de départs à la retraite) ? </p>
                        <p>- Comment conserver des savoirs en aidant les collaborateurs à se projeter dans l’entreprise ? </p>
                        <p>- Comment faciliter l’intégration en poste (embauche ou mobilité interne) ? </p>
                        <p>- Comment accélérer l’évolution dans l’entreprise de certaines populations (ex. jeunes diplômés, hauts potentiels, femmes, etc.) ? </p>
                        <p>- Comment augmenter la collaboration inter-services ? </p>
                        <p>- Comment faire le pont entre différentes générations ? </p>
                        <p>- Comment valoriser les mentors (experts, senior leaders…) ? </p>
                        <p>- Comment reconnaître les plus performants ?</p>
                        <p></p>
                        <p>
                            <b>Le mentorat est un moyen de développement et d’apprentissage, basé sur une relation interpersonnelle volontaire, sans lien hiérarchique et confidentielle.</b>
                        </p>
                        <p></p>
                    </div>
                    <div class="hero__content__btn">
                        <a href="#links" class="a a-btn a-primary mr-medium reveal-4 btn-decouvrir">Découvrir</a>
                        <a href="#links" class="a a-btn a-secondary reveal-5 btn-contact">Contacter</a>
                    </div>
                </div>
                <div class="hero__img reveal-5">
                    <img src="" alt="#" class="mt-extra"/>
                </div>
            </section>
        </header>

        <main class="main">
            <div class="links" id="links">
                <h2 class="change-link">{{subtitle}}</h2>
                <div class="links__nav">
                    <a class="link-nav active" href="/">Storytelling.</a>
                    <a class="link-nav" href="/sens">Sens.</a>
                    <a class="link-nav" href="/idee">Idée.</a>
                    <a class="link-nav" href="/benefices">Bénéfices.</a>
                    <a class="link-nav" href="/methodes">Méthodes.</a>
                    <a class="link-nav" href="/infos">Plus d'infos.</a>
                    <a class="link-nav" href="/perimetre">Périmètre.</a>
                    <a class="link-nav" href="/contact">Contact.</a>
                </div>
            </div>