---
title: nathalie.m - Programmes de mentorat et Développement des Ressources Humaines
subtitle: Bénéfices
description: Ingénieur en mentorat et spécialiste de l’engagement des salariés.
layout: "default-layout.njk"
slug: /benefices
---

<section class="model-2 section" id="benefices">
    <div class="content">
        <img src="http:{{ benefices.image.fields.file.url }}" alt="{{ benefices.image.fields.title }}" class="image"/>
    </div>
</section>