---
title: nathalie.m - Programmes de mentorat et Développement des Ressources Humaines
subtitle: Plus d'infos
description: Ingénieur en mentorat et spécialiste de l’engagement des salariés.
layout: "default-layout.njk"
---

<section class="model-3 reveal section" id="infos">
    <div class="content reveal-1">
        <div class="toggle reveal-2">
            <div class="toggle__links">
                <a href="#consultante" class="toggle__link active">Consultante</a>
                <a href="#experte" class="toggle__link">Experte</a>
                <a href="#formatrice" class="toggle__link">Formatrice</a>
                <a href="#coach" class="toggle__link">Coach</a>
            </div>
            <div class="toggle__content">
                <div id="consultante" class="toggle__item">
                    <p>{{infos.onglets.consultante}}</p>
                </div>
                <div id="experte" class="toggle__item d-none">
                    <p>{{infos.onglets.experte}}</p>
                </div>
                <div id="formatrice" class="toggle__item d-none">
                    <p>{{infos.onglets.formatrice}}</p>
                </div>
                <div id="coach" class="toggle__item d-none">
                    <p>{{infos.onglets.coach}}</p>
                </div>
            </div>
        </div>
        <h5 class="reveal-3">AVIS</h5>
        <div class="avis reveal-4">
            {% for item in infos.avis %}
                <div class="avis-slide">
                    <p>{{item.fields.contenu.content[0].content[0].value}}</p>
                    <div class="auteur">
                    <p>
                        <b>{{ item.fields.nom}}</b>
                    </p>
                    <p>{{ item.fields.profession}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="images reveal">
        <svg xmlns="http://www.w3.org/2000/svg" width="396.194" height="507.006" viewBox="0 0 396.194 507.006" class="svg reveal-3">
            <path class="a" d="M2672.207,1379.525s-204.883-87.97-305.985-14.776-125.841,250.764-29.695,362.862,335.68,115.046,335.68,115.046Z" transform="translate(-2276.013 -1335.651)" />
        </svg>
        <img src="{{ infos.image.fields.file.url }}" alt="{{ infos.image.fields.title }}" class="reveal-4"/>
    </div>
</section>