---
title: nathalie.m - Programmes de mentorat et Développement des Ressources Humaines
subtitle: Périmètre
description: Ingénieur en mentorat et spécialiste de l’engagement des salariés.
layout: "default-layout.njk"
---

<section class="model-2 reveal section d-none" id="perimetre">
    <div class="content reveal-1">
        <img src="#" alt="" class="image reveal-2"/>
    </div>
</section>