---
title: nathalie.m - Programmes de mentorat et Développement des Ressources Humaines
subtitle: Périmètre
description: Ingénieur en mentorat et spécialiste de l’engagement des salariés.
layout: "default-layout.njk"
slug: /perimetre
---

<section class="model-2 section" id="perimetre">
    <div class="content">
        <img src="http:{{ perimetre.image.fields.file.url }}" alt="{{ perimetre.image.fields.title }}" class="image"/>
    </div>
</section>