---
title: nathalie.m - Programmes de mentorat et Développement des Ressources Humaines
subtitle: Sens
description: Ingénieur en mentorat et spécialiste de l’engagement des salariés.
layout: "default-layout.njk"
---

<section class="model-1 reveal section" id="sens">
    <div class="content reveal-1">
        <div class="text reveal-2">
            <p>La guerre des talents existe ! </p>
            <p>Les salariés ont des nouvelles demandes et des aspirations différentes. </p>
            <p>Ils ont besoin d’une reconnaissance qui n’est pas forcément financière, mais aussi, basée sur l’intérêt que l’on porte à leur contribution. </p>
            <p>Savoir ou pouvoir repérer en interne et attirer les talents depuis l’externe, est un vrai enjeu stratégique. Avec la digitalisation, l’entreprise entreprend des transformations profondes tant en Organisation, qu’en Culture et Management. </p>
            <p>Tout dépend donc du Potentiel Humain et de la capacité de l’Entreprise à se réinventer. Le bénéfice est alors interne et ce qui se passe au-dedans à des conséquences positives sur la Relation Client. Tout le monde est gagnant !</p>
        </div>
        <div class="citation reveal-3" v-if="sens.fields.citation">
            <h3>« Quand les gens sont investis financièrement, ils veulent un retour. Quand les gens sont investis émotionnellement, ils veulent contribuer. »</h3>
            <p class="citation__auteur reveal-4" v-if="sens.fields.auteur">Simon Sinek (auteur britannique : « Start with Why: How Great Leaders Inspire Everyone to Take Action »)</p>
        </div>
    </div>
    <div class="images reveal">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="499"
            viewBox="0 0 499 499"
            class="svg reveal-3"
          >
            <path
              class="a"
              d="M2911.363,1423.742s-319.553-57.892-427.953,25.912-77.364,200.923-5.645,309.3,179.531,136.262,288.589,122.34,145.009-55.906,145.009-55.906Z"
              transform="translate(-2412.712 -1404.259)"
/>
        </svg>
        <img
            src="#"
            alt=""
            class="reveal-4"
/>
    </div>
</section>